{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Recent results</title>
  </head>
  <body>
    <h1>Recently submitted</h1>
    <table style="table-layout: fixed; width: 80%" id="s-table">
      <tr style="font-size: 32px;">
        <td>Name</td>
        <td>Email</td>
        <td>Phone Number</td>
        <td>Description</td>
      </tr>

      {% for contact in contacts %}
      <tr>
        <td>{{contact.name}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.description}}</td>
      </tr>
      {% endfor %}
    </table>
    <br />
    <button><a href="{%url 'index'%}">Go Back</a></button>
  </body>
</html>
